*{
    margin: 0px;
    padding: 0px;
    font-family: Noto Serif Khitan Small Script static;
}
#navbar {
    background-color: #ff6347;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: white;
    height: 50px;
    margin-bottom: 2px;
}

#logo{
    display: flex;
}

#navcontent{
   display: flex;
   justify-content: space-between;
   gap: 20px;
}

#navbar img {
    height: 50px;
    border-radius: 50%;
}

#header {
    font-size: 24px;
    font-weight: bold;
    margin-top: 13px;
    margin-left: 10px;
}

#navbar ul {
    list-style: none;
    display: flex;
    gap: 60px;
    font-size: 18px;
    margin-top: 10px;
}

#navbar a{
    text-decoration: none;
    color: white;
}

#navbar ul li {
    cursor: pointer;
    transition: color 0.3s ease;
}

#navbar ul li:hover {
    color: #836a5d;
}

#selected{
    text-decoration: underline;
}

#login{
    padding: 10px 10px;
    background-color: #e4c22b;
    border: 1px solid #ff6347;
    border-radius: 5px;
    width: 90px;
    font-size: 17px;
    color: white;
    cursor: pointer;
}

.collapsible{
    display: none;
}

#banner img{
    height: auto;
    width: 100%;
}

h1{
    text-align: center;
    margin-top: 10px;
}

.row{
    display: flex;
    /* margin-left: 20px; */
}

h2{
    text-align: center;
    font-size: medium;
}

.food-card{
    margin: 25px;
    padding: 10px;
    border: 1px solid ghostwhite;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.food-card img{
    height: 250px;
    width: 100%;
}

.footer-legal{
    background-color: #ff6347d0;
    text-align: center;
    padding: 10px;
}

@media screen and (min-width: 300px) and (max-width:900px){
    #navbar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0px;
        height: auto;
        padding-left: 5px;
        width: auto;
    }


    #logo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: calc(100%-50px);
    }
    
    #navbar img {
        height: 30px;
        border-radius: 50%;
        width: 40px;
    }
    
    #header {
        font-size: 18px;
        margin-left: 4px;
        margin-top: 4px;
    }
    
    #navbar ul {
        display: none;
        list-style: none;
        text-align: left;
        overflow: hidden;
        flex-direction: column;
        position: relative;
        gap: 30px;
        font-size: 18px;
        margin-left: 0px;
        padding: 5px;
    }

    #navcontent{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #navbar ul li {
        cursor: pointer;
        transition: color 0.3s ease;
    }
    
    #navbar ul li:hover {
        color: #836a5d;
    }
    
    #menu {
        display: inline;
        margin-left: 20px;
        cursor: pointer;
        font-size: 12px;
        padding: 5px 5px;
        justify-content: flex-end;
        background-color: #e4c22b;
        border: 1px solid #ff6347;
        color: white;
        cursor: pointer;
        border-radius: 5px;
    }

    #login{
        display: none;
    }
    
    #selected{
        text-decoration: underline;
    }
    
    #login{
        padding: 7px 7px;
        background-color: #e4c22b;
        border: 1px solid #ff6347;
        border-radius: 5px;
        width: 70px;
        font-size: 15px;
        color: white;
        cursor: pointer;
    }
    
    #banner img{
        height: auto;
        width: 100%;
    }
    
    h1{
        text-align: center;
        margin-top: 10px;
    }
    
    .row{
        display: flex;
        flex-direction: column;
        margin: 0px;
        justify-content: center;
        align-items: center;
    }
    
    h2{
        text-align: center;
    }
    
    .food-card{
        margin: 0px;
        padding: 10px;
        border: 1px solid ghostwhite;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .food-card img{
        height: 200px;
    
    }
}